@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Quicksand:wght@300;400;500;600&display=swap');

*{
    padding:0;
    margin:0;

}

body {
    font-family: Quicksand, sans-serif;
    color:#232322;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

}

.container {
    padding:1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width:825px;
}

header {
    text-align: center;
    padding: 18px;
    color:#494e93;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#todo-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:15px;
}

input {
    border:none;
    outline:none;
    width:375px;
    margin-top:5px;
    padding:12px;
    font-size:1rem;
    font-weight: 500;
    text-indent: 5px;
    font-family: Quicksand;
    transition: .2s;
    background-color:#f5f5f5;
    color:#232322;
}

input[type=text]:hover, input[type=text]:focus{
    border: 1.2px solid #757793;
    border-radius:.8rem;
    padding: 10px;
  }

button {
    margin-left: 10px;
    width: 190px;
    margin-top:20px;
    padding: 9px;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size:15px;
    border: white;
    background-color:#757793;
    font-weight: bold;
    color:#faf4cc;
    border-radius: .2rem;
    cursor: pointer;
}

button:hover {
    opacity: .6;
}

.headers {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width: 680px;
    padding: 10px 15px;
    margin-top:15px;
    background-color:#ebebec;
    color: rgb(120, 119, 119);
}

#todo-list {
    display:flex;
    flex-direction: column;
    margin-top: 5px;
    width: 700px;
    margin-bottom:15px;
}

.todo {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:15px 10px 15px 12px;
    cursor: pointer;
    font-weight: 500;
}

i {
    cursor:pointer;
    margin-left: 8px;
    font-size:20px;
    padding:5px;
}

.edit {
    color: rgb(86, 168, 207);
}

.trash {
    color: rgb(231, 107, 107);
    margin-right:5px;
}

.edit:hover, .trash:hover {
    opacity: .6;
}


.done span  {
    text-decoration:line-through;
    font-style:italic;
}

.edit-screen {
    background-color: #faf8f8;
    color: rgb(86, 168, 207);
    z-index:1;
    border: 1.5px solid rgb(231, 107, 107);
    box-shadow: rgb(226, 224, 224) 0px 8px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -135px;
    margin-left:-250px;
    width: 520px;
    height: 245px;
    display:none;
    
}

.edit-screen h2 {
    text-align:center;
    padding:10px;
    background-color:#faf4cc;
}

#edit-form {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top:25px;
}

#edit-form button {
    width: 175px;
    margin-top:35px;
    background-color:rgb(86, 168, 207);
    color:#faf4cc;
    font-family: Quicksand, sans-serif;
    font-weight:bold;
}

#edit-form input {
    padding: 8px;
    margin-top:15px;
    width: 375px;
    background-color:#ebebec;
    border-radius:.2rem;
    font-size: 1rem;
    text-indent: 5px;
}

#edit-form input:hover {
    width: 385px;
    height: 25px;
}

.delete-success {
    color: rgb(231, 107, 107);
    text-align: center;
    background-color:#faf4cc;
    width:450px;
    padding:10px;
    border-radius:.3rem;
    display: none;
    
}

.update-success {
    text-align: center;
    width:450px;
    color:rgb(86, 168, 207);
    background-color:#faf4cc;
    padding:10px;
    border-radius:.3rem;
    display:none;
}

